body {
    margin: auto;
    padding: auto;
    background-image: url(./src/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

body#bodyali {
    background-color: #0f1422;
    background-image:
        url(./src/alianzashield.gif),
        url(./src/alianzashield.gif);
    background-repeat: no-repeat;
    background-position: left top, left bottom;
    background-size: auto;
}

body#bodyhorda {
    background-color: #3a0e0f;
    background-image:
        url(./src/hordeshield.png),
        url(./src/hordeshield.png);
    background-repeat: no-repeat;
    background-position: left top, left bottom;
    background-size: 20%;
}



h2 {
    text-align: center;
    margin: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#menu {
    display: flex;
    color: white;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin: auto;
}

#menu li {
    padding: 10px;
    color: white;
    list-style-type: none;
}

.linkmenu {
    color: white;
    text-decoration: none;
}

.linkmenu:hover {
    color: aqua;
    cursor: pointer;
    text-decoration: overline;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
}

.td-content {
    display: flex;
}


.td-content img {
    margin-right: 20px;
}


.td-content a {
    margin: 0;
    color: #ddd;
    font-variant: small-caps;
    text-decoration: none;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.td-content a:hover {
    color: rgb(21, 105, 161);
}

.td-content p {
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.divbutton {
    position: relative;
    text-align: center;
    margin-top: 2%;
}

.buttonpj {
    width: 100px;
    height: 50px;
    background-color: rgb(87, 5, 5);
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large
}

.linkcrear {
    color: white;
    text-decoration: none;
}

.linkcrear:hover {
    color: aqua;
    cursor: pointer;
    text-decoration: underline;
}

#tablarazas {
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
    background-color: #0f1422;

}

#tablarazashorda {
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
    background-color: none;

}

.thrazasali {
    font-size: xx-large;
    text-align: center;
    color: #00244c;
}

.thrazashorda {
    font-size: xx-large;
    text-align: center;
    color: #8a0000;
}

#tablarazas td {
    vertical-align: top;
    text-align: center;
    border: 0;
}
#tablarazashorda td {
    vertical-align: top;
    text-align: center;
    border: 0;
}

#tablarazas p {
    margin-top: 5%;
}
#tablarazashorda p {
    margin-top: 5%;
}

.pcaracteristicasrazas {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ddd;
    margin: 0;
    border: 0;
}

.pctitulorazas {
    color: #f8b700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: auto;
}

th {
    color: #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tablaclasesyraciales {
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    background-color: #0f1422;
}

#tablaclasesyracialeshorda {
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    background-color: none;
}

#tablaclasesyracialeshorda td {
    vertical-align: top;
    text-align: center;
    border: none;
}

#tablaclasesyraciales td {
    vertical-align: top;
    text-align: center;
    border: 0;
}
#form_crearpj{
    text-align: center;
}
#form_crearpj input{
    margin: auto;
}
